@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-color: #f9f9f9;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--background-color);
}

section {
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
